{{ define "main" }}
<article class="space-y-6">
    <div class="mx-auto p-8 max-w-4xl space-y-6 sm:space-y-12 md:space-y-24 my-8">
        {{ partial "heading.html" .Title }}
    </div>
    
    {{ $header_image_url := "" }}
    {{ with .Resources.GetMatch .Params.header_image }}
        {{ $header_image_url = .RelPermalink }}
    {{ else }}
        {{ $header_image_url = (resources.GetMatch "images/placeholder.png").RelPermalink }}
    {{ end }}
    <img src="{{- $header_image_url -}}" class="w-full h-96 object-cover object-center shadow-md">

    
    <main class="hi__content">
        {{ .Content }}
    </main>
</article>
{{ end }}
