<nav>
    <a href=""><img src="/assets/images/logo_symbol.svg" alt=""></a>
    <div>
        {% for section in site.sections %}
            {% assign firstSection = site.sections | first %}
            {% if section.anchor == firstSection.anchor %}
                <a href="javascript:;" onclick="changeSlide('{{ section.anchor }}')" class="current"> {{ section.name }}</a>
            {% else %}
                <a href="javascript:;" onclick="changeSlide('{{ section.anchor }}')"> {{ section.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
</nav>

<div class="nav-controls">
    <img src="/assets/images/arrow.svg" alt="Previous Page" class="up" onclick="navBtnHandler(false)">
    <img src="/assets/images/arrow.svg" alt="Next Page" class="down" onclick="navBtnHandler(true)">
</div>
