<div class="grid-wrapper">
    <div class="col-left">
        <h1>check out these cool things i've made.</h1>
        <div class="menu">
            {% for project in site.data.projects.projects %}
                {% if forloop.first %}
                    <span class="item current" onclick="changeCard(this, '{{ project.image }}', '{{ project.title }}', '{{ project.desc }}', '{{ project.link }}')">{{ project.title }}</span>
                {% else %}
                    <span class="item" onclick="changeCard(this, '{{ project.image }}', '{{ project.title }}', '{{ project.desc }}', '{{ project.link }}')">{{ project.title }}</span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-right">
        <div class="card">
            <div class="image" style="background-image: url('{{ site.data.projects.projects[0].image }}')"></div>
            <div class="text">
                <div class="title">{{ site.data.projects.projects[0].title }}</div>
                <div class="desc">{{ site.data.projects.projects[0].desc }}</div>
            </div>
            <a href="{{ site.data.projects.projects[0].link }}" class="view-on-github">
              View project
            </a>
        </div>
    </div>
</div>
