@import 'responsive/projects.sass'

#projects
    .grid-wrapper
        display: grid
        grid-template-columns: 1fr 2fr
        width: 100%
        height: 100%

        .col-left
            h1
                margin-right: 1em

            .menu
                display: grid
                grid-template-columns: min-content

                .item
                    position: relative
                    min-width: 200px
                    line-height: 2.5em
                    margin: .25em 0
                    padding: 0 .5em
                    cursor: pointer

                    &::after
                        content: ''
                        position: absolute
                        left: 0
                        top: 0
                        width: 0
                        height: 100%
                        background-color: white
                        mix-blend-mode: exclusion
                        transition: width 400ms ease

                    &:hover::after, &.current::after
                        width: 100%

        .col-right
            .card
                position: relative
                display: grid
                grid-template-columns: .8fr 1fr
                width: 100%
                height: 100%
                box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1)
                background-color: white
                opacity: 1
                transition: all 1000ms ease
                transition-delay: $page-transition-speed

                .image
                    width: 100%
                    height: 100%
                    position: relative
                    background-repeat: no-repeat
                    background-size: cover
                    background-position: center
                    -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%)
                    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%)
                    transition: clip-path 1000ms ease, -webkit-clip-path 1000ms ease
                    transition-delay: $page-transition-speed + 400

                .text
                    display: grid
                    grid-template-columns: 1fr
                    margin: 0 2em
                    opacity: 1
                    transition: opacity 400ms ease
                    transition-delay: $page-transition-speed + 200


                    .title
                        align-self: end
                        font-size: 2em

                    .desc
                        align-self: start

                .view-on-github
                    position: absolute
                    right: 1em
                    bottom: 1em
                    text-decoration: none
                    color: rgb(115, 115, 115)

                    &::after
                        content: ''
                        position: absolute
                        left: -.5em
                        bottom: -.25em
                        width: calc(100% + 1em)
                        height: 2px
                        background-color: rgb(52, 52, 52)
                        transition: all 400ms ease
                        mix-blend-mode: exclusion

                    &:hover::after
                        height: 1.75em

    &.moveDown, &.moveUp
        .card
            transform: translateY(-50px)
            opacity: 0 !important

            .image
                -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%) !important
                clip-path: polygon(0 0, 0 0, 0 100%, 0 100%) !important

    .card.card-transition
        .text
            opacity: 0 !important

        .image
            transition-delay: 0ms !important
            -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%) !important
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%) !important
