---
sass:
    sass_dir: _sass
---

$page-transition-speed: 500ms
$nav-bar-height: 70px

@font-face
    font-family: 'Rockness'
    src: url('/assets/fonts/rockness/Rockness.otf')
    src: url('/assets/fonts/rockness/Rockness.ttf')

@import 'components/nav.sass'
@import 'components/footer.sass'
@import 'components/poloroid'

@import 'home.sass'
@import 'about.sass'
@import 'projects.sass'
@import 'contact.sass'

body
    margin: 0
    padding: 0
    border: none
    background: url('/assets/images/silver_laptop.webp')
    background-size: cover
    background-attachment: fixed

#page-wrapper
    height: 100vh
    width: 100%
    position: relative
    overflow: hidden

.page
    height: 100vh
    width: 100%
    padding: calc(#{$nav-bar-height} + 40px) 40px 40px 40px
    position: absolute
    top: 0
    left: 0
    transition: top $page-transition-speed ease
    background-color: rgb(245, 245, 245)

    &.moveUp
        top: -100vh

    &.moveDown
        top: 100vh

@for $i from 1 through {{ site.sections.size }}
    .page:nth-child(#{$i})
        z-index: $i
