<footer>
    <div class="grid-wrapper">
        <div class="col-left">
            <div class="item">
                <div class="icon" style="background-image: url('/assets/images/email.svg')"> </div>
                <a href="mailto:{{ site.email }}?subject=Feedback">{{ site.email }}</a>
            </div>
            <div class="item">
                <div class="icon" style="background-image: url('/assets/images/document.svg')"></div>
                <span>Take a look at my <a href="{{ site.resumelink }}">résumé</a></span>
            </div>
        </div>
        <div class="col-right">
            <div class="social-wrapper">
                <span>Social:</span>
                <a href="{{ site.githublink }}" style="background-image: url('/assets/images/github.png')"></a>
                <a href="{{ site.handshakelink }}" style="background-image: url('/assets/images/handshake.png')"></a>
                <a href="{{ site.twitterlink }}" style="background-image: url('/assets/images/twitter.png')"></a>
            </div>
            <div class="hosted-on">
                <span>Hosted on </span>
                <a href="https://pages.github.com/"><img src="/assets/images/github_logo.png" alt="GitHub"></a>
                <span> pages</span>
            </div>
        </div>
    </div>
</footer>
