<footer>
    <div class="grid-wrapper">
        <div class="item">
            <div class="icon icon-email"></div>
            <a href="mailto:{{ site.email }}?subject=Feedback">{{ site.email }}</a>
        </div>
        <div class="item">
            <div class="icon icon-resume"></div>
            <span>Checkout my <a href="{{ site.resumelink }}">résumé</a></span>
        </div>
        <div class="social-wrapper">
            <a href="{{ site.githublink }}"><div class="social github"></div></a>
            <a href="{{ site.handshakelink }}"><div class="social handshake"></div></a>
            <a href="{{ site.twitterlink }}"><div class="social twitter"></div></a>
        </div>
        <div class="hosted-on">
            <span>Hosted on </span>
            <img src="/assets/images/github_logo.png" alt="GitHub">
            <span> pages</span>
        </div>
    </div>
</footer>
