@media only screen and (max-width: 650px)
    #contact
        font-size: 14px

@media only screen and (max-width: 550px)
    #contact
        font-size: 10px

        .text-wrapper h1
            width: 75% !important

        form
            width: 75% !important
