footer
    position: absolute
    background-color: rgb(50, 50, 50)
    width: 100%
    left: 0
    bottom: 0
    display: flex
    justify-content: space-around
    padding: 40px
    font-size: 1.2em

        .item
            color: white
            display: flex
            align-items: center

            .icon
                background-color: rgb(37, 37, 37)
                width: 64px
                height: 64px
                margin: 16px
                border-radius: 50%
                background-repeat: no-repeat
                background-position: center
                background-size: 65%

                &.icon-email
                    background-image: url('/assets/images/email.svg')

                &.icon-resume
                    background-image: url('/assets/images/document.svg')


            a
                text-decoration: none
                font-weight: bold
                color: white

                &:hover
                    text-decoration: underline

        .social-wrapper

            .social
                display: inline-block
                margin: 4px
                width: 64px
                height: 64px
                background-color: rgb(37, 37, 37)
                transition: background-color 200ms ease
                cursor: pointer

                &:hover
                    background-color: rgb(30, 30, 30)

                &.github
                    background-image: url('/assets/images/github.png')

                &.handshake
                    background-image: url('/assets/images/handshake.png')

                &.twitter
                    background-image: url('/assets/images/twitter.png')
