<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }}</title>

        <link rel="stylesheet" href="/assets/css/master.css">
    </head>
    <body>
        {% include components/nav.html %}
        <div id="page-wrapper">
            {% for section in site.sections  %}
                {% assign firstSection = site.sections | first %}
                {% if section.anchor == firstSection.anchor %}
                    <!-- Dont assign .moveDown class to first element -->
                    <section id="{{ section.anchor }}" class="page">
                        {% include {{ section.anchor | append: ".html" }} %}
                    </section>
                {% else %}
                <section id="{{ section.anchor }}" class="page moveDown">
                    {% include {{ section.anchor | append: ".html" }} %}
                </section>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Lodash throttle -->
        <script src="/assets/lib/lodash/lodash.js" charset="utf-8"></script>
        <script src="/assets/js/utils.js" charset="utf-8"></script>
        <script src="/assets/js/scroll.js" charset="utf-8"></script>
        <script src="/assets/js/email.js" charset="utf-8"></script>
        <script src="/assets/js/project_card.js" charset="utf-8"></script>
    </body>
</html>
