{{ define "main" }}

<section class="flex flex-col md:flex-row place-items-center mx-auto relative mb-6 md:justify-between">
    <div class="flex place-items-center z-10 mb-12 md:mb-0 md:pr-6 bg-no-repeat bg-contain bg-center md:bg-left-bottom h-96" style="background-image: url('{{- (resources.GetMatch "images/hi.svg").RelPermalink -}}');">
        <div>{{- .Content -}}</div>
    </div>

    {{ $profile_image := "" }}
    {{ with resources.GetMatch .Params.photo }}
        {{ $profile_image = .RelPermalink }}
    {{ else }}
        {{ $profile_image = (resources.GetMatch "images/placeholder.png").RelPermalink }}
    {{ end }}
    <img src="{{- $profile_image -}}" class="rounded shadow-md z-10 w-full max-w-xs">
</section>

<section>
    <ul class="grid sm:grid-cols-2 md:grid-cols-none md:grid-flow-col gap-8">
        {{ range .Params.links }}
            <li>
                {{ partial "external_link.html" . }}
            </li>
        {{ end }}
    </ul>
</section>

<section>
    <ul>
        {{ range (sort (where .Site.RegularPages "Section" "projects") ".Date" "desc") }}
            <li>
                {{ partial "article_listing.html" . }}
            </li>
        {{ end }}
    </ul>
</section>

{{ partial "cta.html" "Get in touch" }}

{{ end }}
