{{ define "main" }}

<section class="flex flex-col-reverse place-content-center mx-auto relative p-12 bg-no-repeat bg-contain bg-bottom"
    style="background-image: url('{{- (resources.GetMatch "images/hi.svg").RelPermalink -}}'); background-size: 80%;">
    <div class="z-10 my-6">{{- .Content -}}</div>

    {{ $profile_image := "" }}
    {{ with resources.GetMatch .Params.photo }}
        {{ $profile_image = .RelPermalink }}
    {{ else }}
        {{ $profile_image = (resources.GetMatch "images/placeholder.png").RelPermalink }}
    {{ end }}
    <img src="{{- $profile_image -}}" class="rounded-md shadow-lg z-10">
</section>

<section>
    <ul>
        {{ range .Params.links }}
            <li>
                {{ partial "external_link.html" . }}
            </li>
        {{ end }}
    </ul>
</section>

<section>
    <ul>
        {{ range (sort (where .Site.RegularPages "Section" "projects") ".Date" "desc") }}
            <li>
                {{ partial "article_listing.html" . }}
            </li>
        {{ end }}
    </ul>
</section>

{{ partial "cta.html" "Get in touch" }} {{ end }}
