{{ define "main" }}

<section class="flex flex-col md:flex-row place-items-center mx-auto relative py-12 md:py-0 md:justify-between bg-no-repeat bg-contain bg-center md:bg-left-bottom" style="background-image: url('{{- (resources.GetMatch "images/hi.svg").RelPermalink -}}');">
    <div class="flex place-items-center z-10 mb-12 md:mb-0 md:pr-6 max-w-lg">
        <div>{{- .Content -}}</div>
    </div>

    {{ $profile_image := "" }}
    {{ with resources.GetMatch .Params.photo }}
        {{ $profile_image = .RelPermalink }}
    {{ else }}
        {{ $profile_image = (resources.GetMatch "images/placeholder.png").RelPermalink }}
    {{ end }}
    <img src="{{- $profile_image -}}" class="w-56 rounded shadow-md z-10 md:w-full max-w-xs">
</section>

<section>
    <ul class="grid sm:grid-cols-2 md:grid-cols-none md:grid-flow-col gap-8">
        {{ range .Params.links }}
            <li>
                {{ partial "external_link.html" . }}
            </li>
        {{ end }}
    </ul>
</section>

<section>
    <h1 class="text-primary-blue bg-primary-blue mt-4 mb-16 py-2 px-6 inline-block heading-left w-3/4 md:w-auto">
        <span class="text-2xl text-white">These are some things I've worked on</span>
    </h1>

    <ul class="space-y-24">
        {{ range (sort (where .Site.RegularPages "Section" "projects") ".Date" "desc") }}
            <li>
                {{ partial "article_listing.html" . }}
            </li>
        {{ end }}
    </ul>
</section>

<section class="flex place-content-center">
    {{ partial "cta.html" .Params.cta }}
</section>

{{ end }}
